<!-- Sidebar -->
<nav class="w-100 h-100 bg-dark text-white pb-3">
  <h4 class="p-3">Menu</h4>
  <ul class="nav h-100 flex-column gap-3">

    <a class="nav-link active text-white" href="#">
      <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Dashboard</span>
    </a>

    <li class="nav-item">
      <a class="nav-link text-white" href="#"><i class="fas fa-users fa-fw me-3"></i><span>Users</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#">
        <i class="fas fa-chart-bar fa-fw me-3"></i><span>Orders</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="#"><i class="fas fa-gear fa-fw me-3"></i><span>Settings</span></a>
    </li>
  </ul>
</nav>